[submodule "aps"]
	path = aps
	url = git@github.com:ZisIsNotZis/aps.git
[submodule "auto_maintain_bench"]
	path = auto_maintain_bench
	url = https://github.com/ZisIsNotZis/auto_maintain_bench.git
[submodule "colleague_private"]
	path = colleague_private
	url = git@github.com:ZisIsNotZis/colleague_private.git
[submodule "drive"]
	path = drive
	url = git@github.com:ZisIsNotZis/suzhou-drive.git
[submodule "horse_video"]
	path = horse_video
	url = git@github.com:ZisIsNotZis/horse_video.git
[submodule "huaqiang_game"]
	path = huaqiang_game
	url = git@github.com:ZisIsNotZis/huaqiang_game.git
[submodule "huaqiang_video"]
	path = huaqiang_video
	url = git@github.com:ZisIsNotZis/huaqiang_video.git
[submodule "hyperframaker"]
	path = hyperframaker
	url = git@github.com:ZisIsNotZis/hypermaker.git
[submodule "ideas"]
	path = ideas
	url = git@github.com:ZisIsNotZis/ideas.git
[submodule "mux"]
	path = mux
	url = git@github.com:ZisIsNotZis/mux.git
[submodule "npchallenge"]
	path = npchallenge
	url = git@github.com:ZisIsNotZis/npchallenge.git
[submodule "ra2"]
	path = ra2
	url = git@github.com:ZisIsNotZis/iron-meridian.git
[submodule "sys_gal"]
	path = sys_gal
	url = git@github.com:ZisIsNotZis/sys_gal.git
[submodule "timecolumn"]
	path = timecolumn
	url = git@github.com:ZisIsNotZis/timetable.git
[submodule "tutor_private"]
	path = tutor_private
	url = git@github.com:ZisIsNotZis/tutor_private.git
[submodule "vibeos"]
	path = vibeos
	url = git@github.com:ZisIsNotZis/vibeos.git
[submodule "agentic-animation"]
	path = agentic-animation
	url = git@github.com:ZisIsNotZis/agentic-animation.git
[submodule "autofe"]
	path = autofe
	url = git@github.com:ZisIsNotZis/autofe.git
[submodule "backseat"]
	path = backseat
	url = git@github.com:ZisIsNotZis/backseat.git
[submodule "danmaku"]
	path = danmaku
	url = git@github.com:ZisIsNotZis/danmaku.git
[submodule "expyssion"]
	path = expyssion
	url = git@github.com:ZisIsNotZis/expyssion.git
[submodule "flashdb"]
	path = flashdb
	url = git@github.com:ZisIsNotZis/flashdb.git
[submodule "helpagent"]
	path = helpagent
	url = git@github.com:ZisIsNotZis/helpagent.git
[submodule "hfget"]
	path = hfget
	url = git@github.com:ZisIsNotZis/hfget.git
[submodule "learn_draw"]
	path = learn_draw
	url = git@github.com:ZisIsNotZis/learn_draw.git
[submodule "litellmgen"]
	path = litellmgen
	url = git@github.com:ZisIsNotZis/litellmgen.git
[submodule "mycar"]
	path = mycar
	url = git@github.com:ZisIsNotZis/mycar.git
[submodule "pathlm"]
	path = pathlm
	url = git@github.com:ZisIsNotZis/pathlm.git
[submodule "pelican_bike"]
	path = pelican_bike
	url = git@github.com:ZisIsNotZis/pelican_bike.git
[submodule "pushbus"]
	path = pushbus
	url = git@github.com:ZisIsNotZis/pushbus.git
[submodule "raid_calc"]
	path = raid_calc
	url = git@github.com:ZisIsNotZis/raid_calc.git
[submodule "resume_private"]
	path = resume_private
	url = git@github.com:ZisIsNotZis/resume_private.git
[submodule "sys_gal_rt"]
	path = sys_gal_rt
	url = git@github.com:ZisIsNotZis/sys_gal_rt.git
[submodule "tokenqr"]
	path = tokenqr
	url = git@github.com:ZisIsNotZis/TokenQR.git
[submodule "resume_img_gen"]
	path = resume_img_gen
	url = git@github.com:ZisIsNotZis/resume_img_gen.git
[submodule "resume_improve_loop"]
	path = resume_improve_loop
	url = git@github.com:ZisIsNotZis/resume_improve_loop.git
[submodule "lmlayer"]
	path = lmlayer
	url = git@github.com:ZisIsNotZis/lmlayer.git
[submodule "cuda"]
	path = cuda
	url = git@github.com:ZisIsNotZis/cuda.git
[submodule "cvorat"]
	path = cvorat
	url = git@github.com:ZisIsNotZis/cvorat.git
[submodule "myzcopy"]
	path = myzcopy
	url = git@github.com:ZisIsNotZis/myzcopy.git
[submodule "dino.py"]
	path = dino.py
	url = git@github.com:ZisIsNotZis/dino.py.git
[submodule "causalmlp"]
	path = causalmlp
	url = git@github.com:ZisIsNotZis/causalmlp.git
[submodule "fring"]
	path = fring
	url = git@github.com:ZisIsNotZis/fring.git
[submodule "treui"]
	path = treui
	url = git@github.com:ZisIsNotZis/treui.git
[submodule "tok"]
	path = tok
	url = git@github.com:ZisIsNotZis/tok.git
[submodule "myygo"]
	path = myygo
	url = git@github.com:ZisIsNotZis/myygo.git
[submodule "myminio2"]
	path = myminio2
	url = git@github.com:ZisIsNotZis/myminio2.git
[submodule "http_mock"]
	path = http_mock
	url = git@github.com:ZisIsNotZis/http_mock.git
[submodule "cz_noidea"]
	path = cz_noidea
	url = git@github.com:ZisIsNotZis/cz_noidea.git
[submodule "beam"]
	path = beam
	url = git@github.com:ZisIsNotZis/beam.git
[submodule "ygo"]
	path = ygo
	url = git@github.com:ZisIsNotZis/ygo.git
[submodule "uv"]
	path = uv
	url = git@github.com:ZisIsNotZis/uv.git
[submodule "jpi.fe"]
	path = jpi.fe
	url = git@github.com:ZisIsNotZis/jpi.fe.git
[submodule "misc"]
	path = misc
	url = git@github.com:ZisIsNotZis/misc.git
[submodule "disk"]
	path = disk
	url = git@github.com:ZisIsNotZis/disk.git
[submodule "cz_bert"]
	path = cz_bert
	url = git@github.com:ZisIsNotZis/cz_bert.git
[submodule "nn"]
	path = nn
	url = git@github.com:ZisIsNotZis/nn.git
[submodule "cznn"]
	path = cznn
	url = git@github.com:ZisIsNotZis/cznn.git
[submodule "myminio"]
	path = myminio
	url = git@github.com:ZisIsNotZis/myminio.git
[submodule "dinoseg"]
	path = dinoseg
	url = git@github.com:ZisIsNotZis/dinoseg.git
[submodule "xywdisk"]
	path = xywdisk
	url = git@github.com:ZisIsNotZis/xywdisk.git
[submodule "io_uring-echo-server"]
	path = io_uring-echo-server
	url = git@github.com:ZisIsNotZis/io_uring-echo-server.git
[submodule "ringsvr"]
	path = ringsvr
	url = git@github.com:ZisIsNotZis/ringsvr.git
[submodule "retnet"]
	path = retnet
	url = git@github.com:ZisIsNotZis/retnet.git
