[submodule "aps"]
	path = aps
	url = git@github.com:ZisIsNotZis/aps.git
[submodule "auto_maintain_bench"]
	path = auto_maintain_bench
	url = https://github.com/ZisIsNotZis/auto_maintain_bench.git
[submodule "colleague_private"]
	path = colleague_private
	url = git@github.com:ZisIsNotZis/colleague_private.git
[submodule "drive"]
	path = drive
	url = git@github.com:ZisIsNotZis/suzhou-drive.git
[submodule "horse_video"]
	path = horse_video
	url = git@github.com:ZisIsNotZis/horse_video.git
[submodule "huaqiang_game"]
	path = huaqiang_game
	url = git@github.com:ZisIsNotZis/huaqiang_game.git
[submodule "huaqiang_video"]
	path = huaqiang_video
	url = git@github.com:ZisIsNotZis/huaqiang_video.git
[submodule "hyperframaker"]
	path = hyperframaker
	url = git@github.com:ZisIsNotZis/hypermaker.git
[submodule "ideas"]
	path = ideas
	url = git@github.com:ZisIsNotZis/ideas.git
[submodule "lm_gh_test"]
	path = lm_gh_test
	url = git@github.com:ZisIsNotZis/ghtest.git
[submodule "lm_paper_test"]
	path = lm_paper_test
	url = git@github.com:ZisIsNotZis/lm_paper_test.git
[submodule "mux"]
	path = mux
	url = git@github.com:ZisIsNotZis/mux.git
[submodule "npchallenge"]
	path = npchallenge
	url = git@github.com:ZisIsNotZis/npchallenge.git
[submodule "ra2"]
	path = ra2
	url = git@github.com:ZisIsNotZis/iron-meridian.git
[submodule "silly_2d_animate"]
	path = silly_2d_animate
	url = git@github.com:ZisIsNotZis/silly_2d_animate.git
[submodule "sys_gal"]
	path = sys_gal
	url = git@github.com:ZisIsNotZis/sys_gal.git
[submodule "timecolumn"]
	path = timecolumn
	url = git@github.com:ZisIsNotZis/timetable.git
[submodule "tutor_private"]
	path = tutor_private
	url = git@github.com:ZisIsNotZis/tutor_private.git
[submodule "vibeos"]
	path = vibeos
	url = git@github.com:ZisIsNotZis/vibeos.git
